<div>
  <a href="{{ url('shopnew.admin_category_list') }}" class="button">Category</a>
  <a href="{{ url('shopnew.admin_product_list') }}" class="button">Production</a>
  <a href="#" class="button">Order</a>
</div>
